

body {
   
    background-color: pink;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    background-color: #ed9ce8;
}

img{
     border-radius: 10px;
    box-shadow: 10px 20px rgb(150, 41, 114);
    width: 400;
}

.container {
     display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.container2 {
     display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    padding: 25px;
}


.button-33 {
  background-color: #ed9ce8;
  border-radius: 100px;
  box-shadow: rgba(183, 170, 245, 0.405) 0 -25px 18px -14px inset,rgba(187, 44, 180, 0.481) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(128, 0, 77);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
 
}

.button-33:hover {
  box-shadow: rgba(187, 44, 163, 0.35) 0 -25px 18px -14px inset,rgba(187, 44, 137, 0.25) 0 1px 2px,rgba(187, 44, 106, 0.25) 0 2px 4px,rgba(187, 44, 130, 0.25) 0 4px 8px,rgba(187, 44, 161, 0.25) 0 8px 16px,rgba(175, 44, 187, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


